<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401!!!</title>
</head>
<body>
    <div class="container">
        <img src="assets/404.gif" alt="Unauthorized Access">
        <h1>404 - Page was not found</h1>
        <p>The page you are looking for not available !!!</p>
        <p>Please contact the administrator for assistance or go back to the <a href="">home page</a>.</p>
      </div>
</body>
</html>
