<div class="container">
    <div class="row">
        <app-nav-bar></app-nav-bar> <!--Call navbar-->
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-2">
            <app-student-side-bar></app-student-side-bar> <!--Call sidebar-->
        </div>
        <div class="col-md-10 offset-md-3">
            <div class="welcome_image">
                <div>
                    <img src="assets/stu.gif" alt="Company Image" class="company-image" style="width: 71%; height: 71%;">
                </div>
            </div>
        </div>
        
          
    </div>
</div>