<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title> 
  <style>
    /* Add some CSS styling for the table */
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
    <app-nav-bar></app-nav-bar>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <app-admin-side></app-admin-side>
            </div>
            <div class="col-10">
                <br><br><br><br>
                <br><br>
                <div>
                    <h2>Add Items</h2>
                    <div class="form-group">
                        <label for="propID">Item ID:</label>
                        <div class="input-group">
                            <input id="propID" [(ngModel)]="newItem.propID" class="form-control" />
                        </div>
                        <label for="name">Item Name:</label>
                        <div class="input-group">
                            <input id="name" [(ngModel)]="newItem.name" class="form-control" />
                        </div>
                        <label for="status">Status:</label>
                        <div class="input-group">
                            <input id="status" [(ngModel)]="newItem.status" class="form-control" />
                        </div>
                        <label for="roomNo">Room Number:</label>
                        <div class="input-group">
                            <input id="roomNo" [(ngModel)]="newItem.room_no" class="form-control" />
                        </div>
                        <br>
                        <div class="input-group-append">
                            <button (click)="addItem()" class="btn btn-dark ml-2">Add Item</button>
                        </div>
                        
                    </div>
                    <br><br>
                    

                    <div>
                        <h3>All Items</h3>
                        <table border="1">
                          <thead>
                            <tr>
                              <th>Item ID</th>
                              <th>Item Name</th>
                              <th>Status</th>
                              <th>Room Number</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of items | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
                              <td>{{ item.propID }}</td>
                              <td>{{ item.name }}</td>
                              <td>{{ item.status }}</td>
                              <td>{{ item.room_no }}</td>
                            </tr>
                          </tbody>
                        </table>
                      
                        <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
                      </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
