<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Off Canvas -->

<div class="offcanvas offcanvas-start sidebar-nav bg-dark"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
  </div>
  <div class="offcanvas-body p-0">

    <div class="navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3"> 
          </div>
        </li>

        <li>
          <a routerLink="/registration" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-person-circle"></i>
            </span>
            <span style="font-size: 15px">Student Registration</span>  
          </a>
        </li>
        <li>
          <a routerLink="/staff-registration" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-person-circle"></i>
            </span>
            <span style="font-size: 15px">Staff Registration</span>  
          </a>
        </li>
        <li>
          <a routerLink="/change-room" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-person-circle"></i>
            </span>
            <span style="font-size: 15px">Student Rooms Change</span>  
          </a>
        </li>
      </ul>
    </div>


  </div>
</div>
<!-- Off canvas Ends -->
</body>
</html>