<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <app-nav-bar></app-nav-bar> <!--Call navbar-->
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-2">
                <app-warden-side></app-warden-side>
            </div>
            <div class="col-md-10 offset-md-3">
                
                
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                            <th>Complain ID</th>
                            <th>Student ID</th>
                            <th>Room ID</th>
                            <th>Complain Type</th>
                            <th>Description</th>
                            <th>Damaged Property</th>
                            <th>Mark as</th>
                            <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of files">
                            <td>{{ file.cid }}</td>
                            <td>{{reg_no}}</td>
                            <td>{{ file.room }}</td>
                            <td>{{ file.c_type }}</td>
                            <td>{{ file.description}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-dark" (click)="downloadFile(file.report_id, file.report_name)">Download Image File</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-success" (click)="acceptComplaint(file); reloadPage()">Accept</button>
                            </td>
                            <td class="status-highlight">{{ file.status }}</td>
                            </tr>
                        </tbody>
                        </table>
                </div>
                

            </div>
        </div>
    </div>
</body>
</html>

