<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title> 
</head>
<body>
    <app-nav-bar></app-nav-bar>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <app-admin-side></app-admin-side>
            </div>
            <div class="col-10">
                <br><br><br><br>

                <div>
                    <h2>Rooms</h2>
                    <div>
                    <label for="roomNo">Room Number:</label>
                    <input id="roomNo" [(ngModel)]="newRoom.room_no" />
                    <button (click)="addRoom()">Add Room</button>
                    </div>
                
                    <div>
                    <h3>All Rooms</h3>
                    <ul>
                        <li *ngFor="let room of rooms">
                        Room {{ room.room_no }} - Items: {{ room.no_of_items }}, Students: {{ room.no_of_students }}
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
